body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(1, 1, 36);
}
  
header {
    background-color: rgb(36, 36, 65);
    display: flex;
    justify-content: flex-end;
}
  
.search {
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 50px;
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: rgb(62, 62, 97);
    border: 2px solid rgb(26, 26, 26);
    color: rgb(221, 208, 208);
}

h1 {
    position: relative;
    margin-right: 20%;
    color: rgb(228, 213, 213);
    font-weight: bold;
}
  
main {
    margin: auto;
    float: none;
    display: flex;
    flex-wrap: wrap;
}
  
.movie {
    position: relative;
    margin: 12px;
    width: 300px;
    height: 550px;
    background-color: rgb(46, 46, 95);
    border-radius: 3px;
    overflow: hidden;
    
}

.movie img {
    width: 100%;
}
  
.movie-title {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5em 1em 1em;
    justify-content: space-between;
}

.movie-title span {
    position: relative;
    margin-top: 10px;
    padding: 0.5em;
    background-color: rgb(51, 3, 83);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}

.rating {
    color: yellow;
}

.description {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: lightblue;
    padding: 1em;
    transform: translateY(101%);
    transition: transform 0.2s ease-in;
}

.movie:hover .description {
    transform: translateY(0);
}

#next {
    position: relative;
    margin-left: 47%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
    height: 40px;
    background-color: lightblue;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}